<div class="card offset-1 offset-md-3 col-10 col-md-6">
    <div class="card-header bg-info text-white">
        Creación de usuario
    </div>
    
    <div class="card-body ps-5 pe-5">
        <form id="formCreateUser">
            <label for="formCreateUserName" class="form-label">Nombre</label>
            <input type="text" class="form-control mb-2" id="formCreateUserName" value="Test" required>

            <label for="formCreateUserLastName" class="form-label">Apellido</label>
            <input type="text" class="form-control mb-2" id="formCreateUserLastName" value="Test" required>

            <label for="formCreateUserEmail" class="form-label">Correo</label>
            <input type="email" class="form-control mb-2" id="formCreateUserEmail" value="test@test.com" required>

            <label for="formCreateUserUserName" class="form-label">Username</label>
            <input type="text" class="form-control mb-2" id="formCreateUserUserName" value="test" required>

            <label for="formCreateUserPassword" class="form-label">Password</label>
            <input type="password" class="form-control mb-4" id="formCreateUserPassword" value="test" required>

            <div class="text-end">
                <button type="submit" class="btn btn-info bg-info">Crear usuario</button>
            </div>
        </form>
    </div>
</div>